
/*--- FONTS ---*/

$f-main: "Ubuntu-Sans-Mono-Regular";
$f-med: "Ubuntu-Sans-Mono-Medium";
$f-S-bold: "Ubuntu-Sans-Mono-Semi-Bold";
$f-bold: "Ubuntu-Sans-Mono-Bold";

/*--- COLORS ---*/

$color-accent: #e63900;
$color-light: #ffece6;
$color-dark: #1a0600;