@font-face {
  font-family: "Lato-light";
  src: url("../fonts/Lato/lato-v24-latin_latin-ext-300.woff2") format("woff2"),
  url("../fonts/Lato/lato-v24-latin_latin-ext-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Lato-regular";
  src: url("../fonts/Lato/lato-v24-latin_latin-ext-regular.woff2") format("woff2"),
  url("../fonts/Lato/lato-v24-latin_latin-ext-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/lato-v24-latin_latin-ext-700.woff2") format("woff2"),
  url("../fonts/Lato/lato-v24-latin_latin-ext-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Lato-Ex-bold";
  src: url("../fonts/Lato/lato-v24-latin_latin-ext-900.woff2") format("woff2"),
  url("../fonts/Lato/lato-v24-latin_latin-ext-900.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "DM-serif-display-regular";
  src: url("../fonts/DM-serif-display/dm-serif-display-v15-latin_latin-ext-regular.woff2") format("woff2"),
  url("../fonts/DM-serif-display/dm-serif-display-v15-latin_latin-ext-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}


