.form-modal{

  .modal-dialog{
    width: 740px;
    max-width: 740px;

    @media(max-width: 767px){
      width: 540px;
      max-width: 540px;
    }

    @media(max-width: 575px){
      width: 90%;
      max-width: 90%;
    }
  }

  .modal-content{
    background-color: $color-white;
    padding: 40px 30px;
    margin-top: 100px;

    @media(max-width: 575px){
      padding: 40px 15px;
    }
  }

  .modal-header{
    .modal-title{
      display: block;
      text-align: center;
      font-family: $f-bold;
      font-size: 32px;
      margin-bottom: 20px;
    }

    p{
      display: block;
      text-align: center;
      margin-bottom: 40px;
      font-family: $f-reg;
    }
  }

}

/*--- video-modal ---*/

.video-modal{
  .modal-dialog{
    width: 70%;
    max-width: 70%;

    .modal-content{
      margin-top: 100px;
      background-color: rgba(0,0,0,0);

      .modal-header{
        .close{
          top: 0;
          right: -40px;
        }
      }
    }
  }

  video{
    width: 100%;
    height: auto;
    border: none;
  }
}

/*--- about-modal ---*/

.about-modal{
  .modal-dialog{
    width: 740px;
    max-width: 740px;
    margin-top: 100px;

    @media(max-width: 767px){
      width: 540px;
      max-width: 540px;
    }

    @media(max-width: 575px){
      width: 90%;
      max-width: 90%;
    }
  }

  .modal-content{
    padding: 50px 30px;
    background-color: $color-white;

    @media(max-width: 440px){
      padding: 50px 15px;
    }

    .modal-header{
      .close{
        top: -25px !important;
      }
    }
  }

  .modal-body{
    p{
      margin-bottom: 15px;
      font-family: $f-reg;

      @media(max-width: 575px){
        font-size: 14px;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
    
    .alignleft,alignright{
      @media(max-width: 440px){
        float: none;
        width: 100%;
      }
    }

    ul,ol{
      margin-left: 0;

      @media(max-width: 575px){
        font-size: 14px;
      }
    }

    .name{
      font-size: 32px;
      font-family: $f-bold;
      margin-bottom: 30px;

      @media(max-width: 575px){
        font-size: 28px;
      }
    }

    .form-title{
      font-size: 30px;
      font-family: $f-bold;
      margin-bottom: 20px;

      @media(max-width: 575px){
        font-size: 26px;
      }
    }

    .text{
      margin-bottom: 40px;
    }

    form{
      margin-top: 30px;
    }
  }
}