
/*--- FONTS ---*/

$f-main: "Lato-Regular";
$f-bold: "Lato-Bold";
$f-heading: "Rufina-Bold";

/*--- COLORS ---*/

$color-white: #ffffff;
$color-gray: #B0B0B0;
$color-dark: #4D4D4D;
$color-black: #000000;
$color-green-light: #EBF0E4;
$color-green-soft: #9CAA00;
$color-green: #5E6600;
$color-green-dark: #233000;
